.body_container{
    display:flex;
    flex: 1;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    /* justify-content:space-around; */
    background-color:white;
}