.app{
  display: flex;
  flex:1 1 auto;
  flex-direction: column;
  margin: 0;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./Images/photos/music5.jpg);
  background-position: start start;

}
